name: Generate Golden Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Generate golden snake
        uses: Platane/snk@v3
        with:
          github_user_name: khotAkash07
          outputs: |
            dist/golden-snake.svg?palette=github-dark&color_snake=%23FFD700&color_dots=%230d1117,%23161b22,%23161b22,%23161b22,%23161b22

      - name: Publish snake
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
