name: Generate Golden Snake

on:
  schedule:
    - cron: "0 0 * * *"
  workflow_dispatch:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Generate golden snake
        uses: Platane/snk@v3
        with:
          github_user_name: khotAkash07
          outputs: |
            dist/golden-snake.svg?color_snake=%23FFD700
            dist/golden-snake-dark.svg?palette=github-dark&color_snake=%23FFD700

      - name: Publish snake
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
