name: Generate Golden Snake

on:
  schedule:
    - cron: "0 0 * * *"   # Runs daily
  workflow_dispatch:     # Manual run
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Generate golden snake
        uses: Platane/snk@v3
        with:
          github_user_name: khotAkash07
          outputs: |
            dist/golden-snake.svg?palette=github-auto&color_snake=%23FFD700

      - name: Publish snake to output branch
        uses: crazy-max/ghaction-github-pages@v4
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
